.header {
    height: 3.5rem;
    position: fixed;
    width: 100%;
    z-index: 100;
    pointer-events: none;
    display: flex;
    padding-right: 40px;
    padding-left: 40px;
}

.header__inner {
        display: none;
        align-items: center;
        justify-content:flex-end;
        height: 100%;
        width: 100%;
        padding-top: 20px;
    }

.header__logo {
        width: 145px;
        pointer-events: visible;
        position: fixed;
        padding-top: 10px;
      
}

.header__logo img {
            width: 100%;
        }

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav li {
            margin-left: 1rem;
            list-style: none;
        }

.header__nav a {
            display: inline-block;
            padding: 0.5rem;
            text-transform: uppercase;
            position: relative;
            pointer-events: visible;
            text-decoration: none;
            color: white;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
