.header {
    height: 8rem;
    position: fixed;
    width: 100%;
    z-index: 1;
    pointer-events: none;
    display: flex;
    padding-right: 40px;
    padding-left: 40px;
    justify-content: center;
    align-items: center;
}

.header__logo {
    width: 200px;
    pointer-events: visible;
    position: fixed;
    left: 0;
    padding-left: 40px;
}

.header__logo img {
    width: 100%;
}

.title__name{
    font-size: 4rem;
    align-self: center;
    font-family:sans-serif;
    color: rgb(243, 241, 232);
    text-shadow:
    0 0 5px rgb(205, 114, 24),
    0 0 10px rgb(224, 153, 40),
    0 0 20px rgb(234, 169, 85),
    0 0 40px rgb(222, 195, 42)
}

.welcome__img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: fixed;
    right: 0;
    padding-right: 40px;
    padding-top: 20px;
}

.welcome__img__slide {
display: flex;
align-items: center;
justify-content: center;
height: 100%;
background-color: white;
border-radius: 50%;

}

.image{
    animation: border 1.5s linear infinite alternate;
    padding: 10px;
    border-radius: 50%;
    z-index: 1;
    border: 4px solid;
    color: rgb(193, 165, 43);
}

.welcome__img__slide img{
    height: 100px;
    width: 100px;
}
