.postList__wrapper {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.postList {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: rgba(211, 211, 211, 0.487);
    width: 50%;
    height: 40vh;
}