@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");

/* * {
  padding: 0;
  margin: 0;
} */

/* html {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
} */

/* body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: #1488cc;
  background: -webkit-linear-gradient(to right, #2b32b2, #1488cc);
  background: linear-gradient(to right, #2b32b2, #1488cc);
} */


.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
}

.noselect {
	width: 60px;
	height: 30px;
	cursor: pointer;
	display: flex;
	align-items: center;
	background: red;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
	background: #e62222;
}

.noselect, .noselect span {
	transition: 200ms;
}

.noselect .text {
	transform: translateX(5px);
	color: white;
	font-weight: bold;
  font-size: 10px;
}

.noselect .icon {
	position: absolute;
	border-left: 1px solid #c41b1b;
	transform: translateX(40px);
	height: 10px;
	width: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.noselect svg {
	width: 15px;
	fill: #eee;
}

.noselect:hover {
	background: #ff3636;
}

.noselect:hover .text {
	color: transparent;
}

.noselect:hover .icon {
	width: 150px;
	border-left: transparent;
	transform: translateX(-50px);
}

.noselect:focus {
	outline: none;
}





.postdiv {
  width: 80%;
  margin-bottom: 9%;
}

.blog_post {
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  position: relative;
}

.container_copy {
  padding: 1rem 2rem 1rem 2rem;
  min-height: 250px;
}

.img_pod {
  height: 110px;
  width: 110px;
  /* background: linear-gradient(90deg, #ff9966, #ff5e62); */
  /* background: transparent;  */
  z-index: 10;
  /* box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3); */
  border-radius: 100%;
  position: absolute;
  left: -10%;
  top: -13%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post__img {
  height: 5.3rem;
  width: 5.3rem;
  position: relative;
  border-radius: 100%;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.container_copy h3 {
  /* margin: 0 0 0.5rem 0; */
  color: #999;
  font-size: 1.25rem;
}

.container_copy h1 {
  /* margin: 0 0 1rem 0; */
  font-size: 2.5rem;
  letter-spacing: 0.5px;
  color: #333;
}

.container_copy p {
  /* margin: 0 0 4.5rem 0; */
  font-size: 1.5rem;
  line-height: 1.45;
  color: #333;
}

.noselect {
  position: absolute;
  top: 1%;
  right: 1%;
}

.comment__button {
  /* position: absolute; */
  margin-bottom: 10px;
  left: 45px;
  right: 45px;

}

/* .btn_primary {
  border: none;
  outline: none;
  background: linear-gradient(90deg, #ff9966, #ff5e62);
  padding: 1.5rem 2rem;
  border-radius: 50px;
  color: white;
  font-size: 1.2rem;
  box-shadow: 1px 10px 2rem rgba(255, 94, 98, 0.5);
  transition: all 0.2s ease-in;
  text-decoration: none;
} */

/* .btn_primary:hover {
  box-shadow: 0px 5px 1rem rgba(255, 94, 98, 0.5);
} */

