.postList__wrapper {
    width:65%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    overflow-y: auto;
}
.postList {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: black;
    background-color: rgba(211, 211, 211, 0.487);
    width: 98%;
    height: 75vh;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 10px;
}