.searchBar__wrap ::placeholder{
    color: black;
}


.searchBar__wrap input{

    border: solid;
    padding: 12px 20px;
    text-decoration: none;
    margin: 2px 2px;
    width: 18rem;
    cursor: pointer;
    color: black;
    border-radius: 20px;
  }

.search__contents{
    color:black;
}

.btn-search {
    font-weight: bold;
    font-size: normal;
    color: black;
    background-color: rgb(224,182,103);
    border: solid;
    outline: 0;
    cursor: pointer;
    padding: 12px 18px;
    border-radius: 20px;
}