.searchBar__wrap{
    margin-top: 2rem;



}

.searchBar__wrap input{

    border: solid;
    padding: 12px 20px;
    text-decoration: none;
    margin: 2px 2px;
    width: 18rem;
    cursor: pointer;
    background-color: transparent;
    color: white;
  }

.search__contents{
    color:white;
}

.btn-search {
    font-weight: 200;
    font-size: normal;
    color: beige;
    background-color: transparent;
    border: solid;
    outline: 0;
    cursor: pointer;
    padding: 12px 12px;
}